$primary: #CC4B00;
$secondary: #FDB913;
$text__light:#FFFFFF;
$text__dark:#505050;
$background: #FFFFFF;
$hero__font--primary: #FFFFFF;
$hero__font--secondary: #FDB913;
$card__detail--background: #F1F1F0;
$form__border: #D6D6D6;
$font__primary: #505050;
$font__footer: #FFFFFF;
$font__footer--secondary: #d6d6d6;
$link__primary: #CC4B00;
$warning__primary: #E65400;
$footer__primary: #505050;
$footer__secondary: #454545;